header {
  padding: 1rem;
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

img {
  min-height: 16px;
  min-width: 16px;
}

.row {
  display: flex;
  width: 100%;
}
.row + .row {
  margin-top: 0.5rem;
}
.row-col {
  flex-direction: column;
}
.row-center {
  align-items: center;
  justify-content: center;
}
.row-v-center {
  align-items: center;
}
.row-h-center {
  justify-content: center;
}

.gone {
  display: none;
}

.col {
  flex: 1;
}

.right {
  margin-left: auto;
}

.box {
  padding: 0.5rem 1rem;
}

input,
select,
button {
  width: 100%;
  height: 32px;
  padding: 0 0.5rem;
}
input:focus,
select:focus,
button:focus {
  border: 1px solid #666;
  outline: 1px solid #666;
}

input[type='file'] {
  line-height: 32px;
}
button {
  width: initial;
  text-transform: capitalize;
}

footer p {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

footer p span {
  color: red;
}

.tag {
  background-color: #dedede;
  padding: 4px 12px;
  border-radius: 12px;
  color: #555;
  font-size: 0.875rem;
  cursor: pointer;
}
.tag + .tag {
  margin-left: 0.5rem;
}

.entry-row {
  padding: 0.5rem;
  border-radius: 8px;
}

.entry-row.debit {
  background-color: #ffebee;
}
.entry-row.credit {
  background-color: #e8f5e9;
}

.entry-row .data {
  display: flex;
}
.entry-row .data > div {
  width: 33.33%;
}
.entry-row .tags {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  justify-content: end;
}
.entry-row.credit > .row + .row {
  border-top: 1px solid #c8e6c9;
}
.entry-row.debit > .row + .row {
  border-top: 1px solid #ffcdd2;
}
.entry-row.credit .tags span {
  background-color: #c8e6c9;
}
.entry-row.debit .tags span {
  background-color: #ffcdd2;
}
.entry-row .date {
  font-size: 0.875rem;
  color: #777;
  padding-top: 0.5rem;
}
.entry-row + .entry-row {
  margin-top: 0.5rem;
}
.entry-row svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.config-opt img {
  height: 32px;
}

.config {
  margin: 1rem;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.config > .row {
  padding: 1rem;
}
.config > .row + .row {
  border-top: 1px solid #dedede;
}
.config input[type='file'] {
  padding: 0;
}
.config h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.overview .content > .row {
  padding: 1rem;
  border: 1px solid #ccc;
}
.overview .content > .row:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.overview .content > .row:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.overview .content > .row + .row {
  margin-top: 0;
  border-top: 0;
}
.overview .row .label {
  font-size: 0.875rem;
  color: #444;
}
.overview .row .value {
  font-size: 1.125rem;
}

.collapser {
  border: 2px solid #737373;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  cursor: pointer;
}
